.splash-container {
	background: #c4dec4 url("../img/200692.jpg") no-repeat center top;
	background-size: 100% 100%;
	height: 100%;
}

.splash-head {
	border-color: #920707;
	color: #920707;
	font-weight: bold;
	border-width: thick;
	border-radius: 1em;
	box-shadow: 4px 4px 15px #f60b0b;
	text-shadow: 1px 1px 15px #d46363;
}
.splash-subhead {
	color: #e56a6a;
	font-weight: bold;
	font-style: italic;
}

.content-wrapper {
	top: 100%;
}

.err {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	background-color: #c82525;
	color: #222;
}

.inf {
	padding: 1em 1em 1em 3em;
	border-radius: 1em;
	background-color: #8f8;
	color: #222;
}

.res {
	padding: 1em 1em 1em 1.5em;
	border-radius: 1em;
	background-color: #ff0;
	color: #222;
}

.pure-button {
	color: whitesmoke;
	border-radius: 1em;
	font-weight: bold;
}


