.messages{
	border-radius: 0.2em;
	padding: 0.5em;
	text-align: center;
	width: 50%;
	height: 60px;
	transform: translate(-50%, 340%);
	position: absolute;
	top: 60%;
	left: 50%;
}

.result
{
	position: absolute ;
	font-weight: bold;
	font-size: 22px;
	color: #39f639;
	transform: translate(-50%, 50%);
	top: 85%;
	left: 50%;
}
.error{
	background-color: rgba(248, 35, 35, 0.8);
}

.info{
	background-color: rgba(39, 152, 21, 0.8);
}

.bottom-margin{
	margin-bottom: 1em;
}

.top-margin{
	margin-top: 1em;
}

body.login
{
	background: #000 url("../img/kredyt5.jpg") no-repeat center top;
}
body.lista
{
	background: #000 url("../img/kredyt5.jpg") no-repeat center top;
}

.tablebox
{
	width: 755px;
	height: auto;
	background: rgba(125, 184, 200, 0.8);
	margin-left: auto;
	margin-right: auto;

}

.loginbox
{
	width: 320px;
	height: 280px;
	background: rgba(31,27,27, 0.8);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 70px 30px;
	box-shadow: 3px 5px 5px #535050;

}
h1.login
{
	text-align: center;
	margin: 0;
	padding: 0 0 20px;
	font-size: 28px;
}

.loginbox p{
	margin: 0;
	padding: 0;
	font-weight: bold;
}

.loginbox input{
	width: 100%;
	margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
	border: none;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.loginbox input[type="submit"]{
	border: none;
	outline: none;
	height: 40px;
	background: #b80606;
	color: #fff;
	font-weight: bold;
	font-size: 18px;
	border-radius: 20px;
}
.loginbox input[type="submit"]:hover{
	cursor: pointer;
	background: #1d881d;
	color: #fff;
}

body.calc
{
	background: #000 url("../img/kredyt5.jpg") no-repeat center top;
}

.calcbox
{
	width: 350px;
	height: 500px;
	background: rgba(31,27,27, 0.8);
	color: #fff;
	top: 50%;
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	padding: 50px 30px;
}
.calcbox legend
{
	text-align: center;
	color: #fff;
	font-size: 32px;
}
.calcbox p
{
	margin: 1px;
	padding: 8px;
	font-weight: bold;
}
.calcbox input, select{
	width: 100%;
	margin-bottom: 20px;
}

.calcbox input[type="text"], select[id="id_op"]
{
	border: none;
	border-bottom: 1px solid #fff;
	background-color: rgba(74, 74, 74, 0.8);
	outline: none;
	height: 40px;
	color: #fff;
	font-size: 16px;
}
.calcbox input[type="submit"]
{
	border: none;
	outline: none;
	height: 40px;
	font-weight: bold;
	font-size: 18px;
	border-radius: 20px;
	background: #790e67;
}

.pure-menu-heading
{
	background-color: #b80606;
	border-radius: 20px;
	color: #111111;
	font-weight: bold;
	text-align: center;
}
span{
	color: #fff;
	height: 40px;
}